* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    background: #f5f5f5;
}

header {
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    height: 80px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    background: deepskyblue;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.filter {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.filteration {
    width: 250px;
    height: 100px;
    margin: 25px 15px;
}

.filteration h4 {
    text-align: center;
    margin-bottom: 10px;
}


.container {
    padding: 10px;
    border-radius: 50px;
    background: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a { 
    background: transparent;
    color: deepskyblue;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container button:hover { 
    color: black;
}
.container img {
    filter: grayscale(100%);
}

.container img.active {
    filter: grayscale(0);
}

.container img:hover {
    filter: none;
}

/* NOTE: JS, set btn active */

.hoppiness-levels img, .alcohol-levels img{
    object-fit: contain;
}

.page-container button {
    border: 1px solid white;
    border-radius: 30px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    outline: none;
    color: deepskyblue;
    cursor: pointer;
}

.page-container button:disabled {
    color: darkgray;
    cursor: not-allowed;
}

@media screen and (max-width: 900px) {
    .filteration { margin: 10px 15px; }
}

/* ================ */

.beer-results {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 0 2em #dcdcdc;
    background: #fff;
    overflow: hidden;
    margin: 0 auto;
    padding-block: 1em;
    position: relative;
    border-radius: 10px;
    height: 510px;
    width: 350px;
}

.card:hover .card-back {
    opacity: 1;
    transition: ease-in .3s;
}

.card-front img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.card-front h4 {
    text-align: center;
    padding: 0.7em 2em;
}

.content-levels {
    background-color: rgb(59, 59, 59);
    color: #eee;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-back { 
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #212121da;
    line-height: 24px;
    opacity: 0;
    transition: ease-in .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-back h4 {
    font-size: 1.5rem;
}

.card-back h4,
.card-back .description
{
    margin-bottom: 1em;
} 