* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
}

header {
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    height: 80px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    background: deepskyblue;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.filter {
    /* border: 2px solid gray; */
    width: 100%;
    display: flex;
    /* gap: 25px; */
    flex-flow: wrap;
    justify-content: center;
}

.filteration {
    /* border: 1px solid #000; */
    width: 250px;
    height: 100px;
    margin: 25px 15px;
}

.filteration h4 {
    text-align: center;
    margin-bottom: 10px;
}


.container {
    /* border: solid 1px red; */
    padding: 10px;
    border-radius: 50px;
    background: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a { 
    /* border: 1px solid white; */
    background: transparent;
    /* border: none; */
    color: deepskyblue;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container button:hover { 
    color: black;
}
.container img {
    filter: grayscale(100%);
}
.container img:hover {
    filter: none;
}
/* NOTE: JS, set btn active */

.hoppiness-levels img, .alcohol-levels img{
    object-fit: contain;
}

.page-container button {
    border: 1px solid white;
    border-radius: 30px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    outline: none;
    color: deepskyblue;
    cursor: pointer;
}

.page-container button:disabled {
    color: darkgray;
    cursor: not-allowed;
    /* pointer-events: none; */
}

@media screen and (max-width: 900px) {
    .filteration { margin: 10px 15px; }
}

/* ================ */

.beer-results {
    /* border: 2px solid green; */
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(auto-fill, 250px);
    /* grid-template-columns: auto auto auto auto auto; */
    /* grid-template-columns: 200px 200px 200px 200px 200px; */
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.card {
    border: 1px solid rgb(59, 59, 59);
    /* border-bottom: none; */
    /* padding: 2em 2em; */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: 500px;
}

.card:hover .card-back {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease;
}

.card-front img {
    /* border: 1px solid blue; */
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.card-front h4 {
    /* border: 1px solid blue; */
    text-align: center;
    padding: 0.7em 2em;
}

.content-levels {
    /* border: 1px solid red; */
    background-color: rgb(59, 59, 59);
    color: #eee;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-back { 
    /* display: none; */
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #212121da;
    backdrop-filter: blur(5px);
    transform: translateY(-50%);
    opacity: 0;
    /* transition: all 0.5s ease; */
}

.card-back h4 {
    font-size: 1.5rem;
}

.card-back h4,
.card-back .description
{
    margin-bottom: 1em;
} 